body {background-color: #000000;}
body {color: #dcdcdc;}
a:link {color: #ff8400;}
h1 {color: #efefef;}
h2 {color: #efefef;}
nav {background-color: #5e5e5e;}
nav a {color: #efefef;}
nav a:hover {background-color: #3b9fd1;}
nav {padding: 10px}
nav a {padding: 10px}
nav {margin-bottom: 30px}
.quote {float: right;}
.orangeimage {float: left; margin-right: 10px; border-radius: 2em; max-width: 100%}
.biographytext {font-size: 1.1em;}
.locandlink {display: flex; background-image: url(../images/orangeslices.png); background-size: 90em; border-radius: 2em; margin: 30px}
.formandmap {display: flex; background-image: url(../images/orangeslices.png); background-size: 90em; border-radius: 2em; margin: 30px; flex-wrap: wrap;}
.loc {color: #000000; padding: 10px; margin-left: 20px}
.addresstext {font-size:1.3em}
.link {padding: 10px; margin-top: 50px; margin-left: 10px}
.form {color: #000000; padding: 10px; margin-top: 30px; margin-left: 20px}
.map {margin-left: 60px}
.linkedinlogo {width: 1.25em; height: 1.25em}
@media only screen and (max-width: 991px){
    nav a {max-width: 100%; display: block}
    span {display: none}}
